.quiz {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    color: #333;
    max-height: 100vh;
    height: 80%;
}

.quiz h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #4caf50;
}

.timer {
    font-size: 1rem;
    font-weight: bold;
}

.next-button {
    width: 100%;
    font-size: 1rem;
    border-radius: 8px;
}

.next-button:hover {
    background-color: #388e3c;
}

.quiz video {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz button {
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.quiz button:hover {
    background-color: #388e3c;
}